<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register new avatar</title>
</head>
<body>

<h1>New avatar</h1>

<form th:action="@{/avatar/add}" th:object="${avatarDTO}" method="post">

    <p> Name:
        <input type="text" th:field="*{name}"/>
    </p>
    <p> Background:
        <input type="text" th:field="*{background}" />
    </p>
    <p>
        <td><input type="submit" name="save" value="Save" /></td>
        <td><input type="submit" name="cancel" value="Cancel" /></td>
    </p>
</form>

</body>
</html>